{% extends "base_services.html" %}

{% block content %}
    <div id="column">
        <h1 style="font-weight: 400;">Hola</h1>
        <a href="/receipt" class="btn"
           style="width: 200pt; height: 30pt; font-size: 16pt; color: #ffffff; margin-bottom: 10pt;">Recibos</a>
        {% if admin %}
            <a href="/admin" class="btn"
               style="width: 200pt; height: 30pt; font-size: 16pt; color: #ffffff; margin-bottom: 10pt;">Administrar</a>
            <br>
        {% endif %}
        {% if partner %}
            <a href="/partner_pay" class="btn"
               style="width: 200pt; height: 30pt; font-size: 16pt; color: #ffffff; margin-bottom: 10pt;">Telmex</a>
            <br>
        {% endif %}
        <!-- <a href="/logout" class="btn" style="width: 200pt; height: 30pt; font-size: 16pt; color: #ffffff; margin-bottom: 10pt;">Cerrar sesión</a> -->
    </div>
{% endblock %}