{% extends "base_services.html" %}

{% block content %}
    <div id="column">
        <h1 style="font-weight: 400;">Hola {{ user.first_name }}</h1>
        <a href="{% url 'account_receipts' %}" class="btn"
           style="width: 200pt; height: 30pt; font-size: 16pt; color: #ffffff; margin-bottom: 10pt;">Mis recibos</a>
        {% if user.is_collaborator or user.is_superuser %}
            <br>
            {#TODO change this dynamical#}
            <a href="{% url 'collaborator_pay_service' '6IpK0smbJQ00mAeDa81g' %}" class="btn"
               style="width: 200pt; height: 30pt; font-size: 16pt; color: #ffffff; margin-bottom: 10pt;">
                Pagar telmex de cliente
            </a>
            <a href="{% url 'collaborator_receipts' %}" class="btn"
               style="width: 200pt; height: 30pt; font-size: 16pt; color: #ffffff; margin-bottom: 10pt;">
                Recibos de cliente
            </a>
            <a href="{% url 'collaborator_due' %}" class="btn"
               style="width: 200pt; height: 30pt; font-size: 16pt; color: #ffffff; margin-bottom: 10pt;">
                Saldo por cubrir
            </a>
            <a href="{% url 'collaborator_payout' %}" class="btn"
               style="width: 200pt; height: 30pt; font-size: 16pt; color: #ffffff; margin-bottom: 10pt;">
                Mis pagos
            </a>
        {% endif %}
        {% if user.is_staff or user.is_superuser %}
            <br>
            <a href="{% url 'staff_payments' %}" class="btn"
               style="width: 200pt; height: 30pt; font-size: 16pt; color: #ffffff; margin-bottom: 10pt;">Pagos
                pendientes</a>
        {% endif %}
        {% if user.is_superuser %}
            <br>
            <a href="{% url 'super_payments' %}" class="btn"
               style="width: 200pt; height: 30pt; font-size: 16pt; color: #ffffff; margin-bottom: 10pt;">Ver todos los
                pagos</a>
            <a href="{% url 'super_payout' %}" class="btn"
               style="width: 200pt; height: 30pt; font-size: 16pt; color: #ffffff; margin-bottom: 10pt;">Depósitos</a>
        {% endif %}
    </div>
{% endblock %}