<!--   Core JS Files   -->
<script src="/static/administrator/js/core/popper.min.js"></script>
<script src="/static/administrator/js/core/bootstrap.min.js"></script>
<script src="/static/administrator/js/plugins/smooth-scrollbar.min.js"></script>

<!-- Kanban scripts -->
<script src="https://appsrv1-147a1.kxcdn.com/soft-ui-dashboard-pro/js/plugins/dragula/dragula.min.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/soft-ui-dashboard-pro/js/plugins/jkanban/jkanban.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/soft-ui-dashboard-pro/js/plugins/choices.min.js"></script>

<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/static/administrator/js/soft-ui-dashboard.js?v=1.0.0"></script>

