[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "4.0.1"
pyrebase4 = "4.5.0"
firebase-admin = "*"
google-cloud-firestore = "*"
psycopg2-binary = "*"

[dev-packages]
Faker = "*"

[requires]
python_version = "3.8"
