[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pyrebase4 = "4.5.0"
firebase-admin = "*"
google-cloud-firestore = "*"

[dev-packages]

[requires]
python_version = "3.7"
