{% extends "collaborator/pay_service_base.html" %}
{% block service_form %}
    <style>
    label {
        font-size: 50pt;
        margin: 0 0 20pt;
        color: black;
        font-weight: bold;
    }
    </style>
    <input id="servicio" type="hidden" name="service" value="{{ name }}">
    <div id="left">
        {% comment %}<label for="tel-input" style="font-size: 50pt; margin: 0 0 20pt;color: black;font-weight: bold;">Número {{ name }}</label>

        <input type="hidden" id="discount_" name="discount" value="{{ discount }}">
        <input type="hidden" id="service_id" name="service_id" value="{{ id }}">

        <input type="tel" name="number" id="tel-input" placeholder="1231234567" required size="{{ length }}"
               minlength="{{ length }}" maxlength="{{ length }}">
        <h2 id="status-label" style="display: none;">Cargando...</h2>
        <h2 id="amount-label-uknow" style="display: none;">Tu línea no fue encontrada, verifica de nuevo.</h2>
        <h2 id="amount-label-balance" style="display: none;">Tu línea no tiene saldo pendiente.</h2>
        <h2 id="amount-label-other" style="display: none;">Introduce el monto de tu recibo.</h2>
        <h2 id="no-valid" style="display: none; color: red;">No valido.</h2>
        <input type="number" id="amount-input" name="amount" placeholder="499" max="50000" required
               style="display: none;"/>{% endcomment %}
    </div>
    <div id="right">
        <h3>Resumen de pago</h3>
        {% if type != 3 %}
            <div class="row">
                <p>Monto del recibo {{ name }}</p>
                <strong id="amount">$12345</strong>
            </div>
        {% endif %}
        {% if discount != 0 %}
            <div class="row">
                <p>Descuento Payly</p>
                <strong id="discount">-$xxx</strong>
            </div>
        {% endif %}
        <hr>
        <div class="row">
            <p>Total a pagar</p>
            <strong id="total">$12</strong>
        </div>
        <div class="center-element">
            <input id="btnpagar" type="submit" value="Pagar" style="margin-bottom: 20px;">
        </div>
    </div>
{% endblock %}