{% extends "services/base_services.html" %}
{% load static %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
            src="https://www.paypal.com/sdk/js?client-id=ASz6HjZ_zRhKc9VMgvuUdw700Rzi-Po9-FHd0iY7wAkE5Z_DQk9Iz11hppR0iJV0-6qhBKqOKztZbimr&currency=MXN&locale=es_MX"></script>

    <style>
        #preview {
            width: 100vw;
            display: flex;
            justify-content: center;
        }

        #right,
        #left {
            width: 30%;
            display: flex;
            flex-direction: column;
            padding: 10px 10px 60pt;
        }

        h1 {
            font-size: 50pt;
            margin: 0 0 20pt;
            color: black;
        }

        input[type="tel"],
        input[type="number"],
        input[type="text"] {
            font-size: 30pt;
            border: 0;
            outline: 0;
            border-bottom: 1px solid black;
            width: 53%;
            margin-bottom: 10px;
            background: transparent;
            padding: 5pt;
            box-sizing: border-box;
            font-weight: 600;
            letter-spacing: -0.06em;
        }

        input[type="submit"] {
            bottom: 0;
            padding: 5pt 12pt;
            text-align: center;
            font-size: 19pt;
            width: 70%;
            color: #ffffff;
            background-color: #000000;
            border: 0;
            font-weight: 400;
            border-radius: 2px;
        }

        #right {
            box-sizing: border-box;
            border-radius: 5pt;
            padding: 0 40pt;
            color: #B0B0B0;
            color: #464646;
            text-align: center;
            display: none;
            flex-direction: column;
            justify-content: space-between;
        }

        .center-element {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50pt;
            flex-direction: column;
        }

        .row {
            width: 100%;
            padding: 0 30pt;
            margin: 0;
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
        }

        p {
            margin: 0;
        }

        h3 {
            font-size: 20pt;
            color: #000000;
            margin-bottom: 50pt;
        }

        @media (max-width: 600px) {

            #left,
            #right {
                width: 90%;
                text-align: center;
            }

            #right {
                padding: 0;
            }

            input[type="tel"],
            input[type="number"] {
                width: 76%;
                text-align: center;
            }

            input[type="number"] {
                margin: 0 auto;
            }

            #amount-input {
                width: 40%;
            }

            #preview {
                align-items: center;
                flex-direction: column;
            }
        }

        form {
            width: inherit;
            height: inherit;
            align-items: inherit;
            flex-direction: inherit;
        }

        label {
            font-size: 50pt;
            margin: 20pt 0 0;
            color: black;
            font-weight: bold;
        }

        label[for="id_amount_to_pay"],
        #id_amount_to_pay {
            display: none;
        }

        .hidden-input {
            display: none;
        }
    </style>
    <div id="preview">
        <form action="{% url 'collaborator_pay_service_pay' service.service_id %}" method="post">
            <div id="left">
                {% csrf_token %}
                {% for field in pay_form %}
                    {% if not field.is_hidden %}
                        <label id="label_{{ field.id_for_label }}"
                               for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% endif %}
                    {{ field }}
                {% endfor %}
            </div>
            <div id="right">
                <h3>Resumen de pago</h3>
                <div class="row">
                    <p>Monto del recibo {{ name }}</p>
                    <strong id="amount">$12345</strong>
                </div>
                {% if discount != 0 %}
                    <div class="row">
                        <p>Descuento Payly</p>
                        <strong id="discount">-$xxx</strong>
                    </div>
                {% endif %}
                <hr>
                <div class="row">
                    <p>Total a pagar</p>
                    <strong id="total">$12</strong>
                </div>
                <div class="center-element">
                    <input id="btnpagar" type="submit" value="Pagar" style="margin-bottom: 20px;">
                </div>
            </div>
        </form>
    </div>
    <script src="{% static '/js/collaborator/pay/telmex.js' %}"></script>
    <script>
        function post(path, params, method = 'post') {
            const form = document.createElement('form');
            form.method = method;
            form.action = path;

            for (const key in params) {
                if (params.hasOwnProperty(key)) {
                    const hiddenField = document.createElement('input');
                    hiddenField.type = 'hidden';
                    hiddenField.name = key;
                    hiddenField.value = params[key];
                    form.appendChild(hiddenField);
                }
            }
            document.body.appendChild(form);
            form.submit();
        }
    </script>

{% endblock %}