{% extends 'administrator/layouts/base.html' %}

{% block title %} Crear servicio {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="multisteps-form">
                    <div class="row">
                        <div class="col-12 col-lg-8 mx-auto mt-4 mb-sm-5 mb-3">
                            <div class="multisteps-form__progress">
                                <button class="multisteps-form__progress-btn js-active" type="button"
                                        title="Product Info">
                                    <span>1. Información del servicio</span>
                                </button>
                                <button class="multisteps-form__progress-btn" type="button" title="Media">2. Icono
                                </button>
                                <button class="multisteps-form__progress-btn" type="button" title="Pricing">3. Precio
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--form panels-->
                    <div class="row">
                        <div class="col-12 col-lg-8 m-auto">
                            <form class="multisteps-form__form mb-8 dropzone" method="post" action="./"
                                  id="service-form">
                                {% csrf_token %}
                                <!--single form panel-->
                                <div class="card multisteps-form__panel p-3 border-radius-xl bg-white js-active"
                                     data-animation="FadeIn">
                                    <h5 class="font-weight-bolder">Información del servicio</h5>
                                    <div class="multisteps-form__content">
                                        <div class="row mt-3">
                                            <div class="col-12 col-sm-6">
                                                <label>Nombre</label>
                                                <input class="multisteps-form__input form-control" type="text"
                                                       name="name" maxlength="100" required="" id="id_name"
                                                       placeholder="eg. Telmex"/>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <label>Categoría</label>
                                                <select class="form-control" name="service_type" required=""
                                                        id="service_type">
                                                    {% for choice_id, choice_label in service_form.service_type.field.choices %}
                                                        <option value="{{ choice_id }}">{{ choice_label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="mt-4">Description</label>
                                                <p class="form-text text-muted text-xs ms-1 d-inline">
                                                    (optional)
                                                </p>
                                                <div id="edit-description" class="h-50">
                                                    <p>Some initial <strong>bold</strong> text</p>
                                                </div>
                                                <textarea style="display:none;" name="description" cols="40" rows="10"
                                                          maxlength="1000" id="id_description"></textarea>
                                            </div>
                                        </div>
                                        <div class="button-row d-flex mt-5">
                                            <button class="btn bg-gradient-dark ms-auto mb-0 js-btn-next" type="button"
                                                    title="Siguiente">Siguiente
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!--single form panel-->
                                <div class="card multisteps-form__panel p-3 border-radius-xl bg-white"
                                     data-animation="FadeIn">
                                    <h5 class="font-weight-bolder">Icono</h5>
                                    <div class="multisteps-form__content">
                                        <div class="row mt-3">
                                            <div class="col-12">
                                                <label>Icono del servicio</label>
                                                <div class="form-control" id="serviceImg"></div>
                                            </div>
                                        </div>
                                        <div class="button-row d-flex mt-4">
                                            <button class="btn bg-gradient-secondary mb-0 js-btn-prev" type="button"
                                                    title="Anterior">Anterior
                                            </button>
                                            <button class="btn bg-gradient-dark ms-auto mb-0 js-btn-next" type="button"
                                                    title="Siguiente">Siguiente
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!--single form panel-->
                                <div class="card multisteps-form__panel p-3 border-radius-xl bg-white"
                                     data-animation="FadeIn">
                                    <h5 class="font-weight-bolder">Precio</h5>
                                    <div class="multisteps-form__content mt-3">
                                        <div class="row">
                                            <div class="col-3">
                                                <label>Descuento</label>
                                                <input class="multisteps-form__input form-control" type="number"
                                                       name="base_discount" step="0.01" required="" placeholder="20.00"
                                                       min="0" max="100"/>
                                            </div>
                                            <div class="col-4">
                                                <label for="choices-currency">Moneda</label>
                                                <select name="currency" class="form-control" id="choices-currency">
                                                    <option value="Choice 1" selected="">MXN</option>
                                                </select>
                                            </div>
                                            <div class="col-5">
                                                <label>SKU</label>
                                                <input name="SKU" class="multisteps-form__input form-control"
                                                       type="text"
                                                       placeholder="71283476591"/>
                                            </div>
                                        </div>
                                        <div class="button-row d-flex mt-4">
                                            <button class="btn bg-gradient-secondary mb-0 js-btn-prev" type="button"
                                                    title="Anterior">Anterior
                                            </button>
                                            <button class="btn bg-gradient-dark ms-auto mb-0" type="submit"
                                                    title="Crear" id="submit_form">Crear
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"
            integrity="sha512-oQq8uth41D+gIH/NJvSJvVB85MFk1eWpMK6glnkg6I7EdMqC1XVkW7RxLheXwmFdG03qScCM7gKS/Cx3FYt7Tg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.min.js"
            integrity="sha512-P2W2rr8ikUPfa31PLBo5bcBQrsa+TNj8jiKadtaIrHQGMo6hQM6RdPjQYxlNguwHz8AwSQ28VkBK6kHBLgd/8g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://appsrv1-147a1.kxcdn.com/soft-ui-dashboard-pro/js/plugins/multistep-form.js"></script>


    <script>
        if (document.getElementById('edit-description')) {
            const quill = new Quill('#edit-description', {
                theme: 'snow' // Specify theme in configuration
            })
        }

        if (document.getElementById('service_type')) {
            const element = document.getElementById('service_type')
            const example = new Choices(element, {
                searchEnabled: false
            })
        }

        if (document.getElementById('choices-sizes')) {
            const element = document.getElementById('choices-sizes')
            const example = new Choices(element, {
                searchEnabled: false
            })
        }

        if (document.getElementById('choices-currency')) {
            const element = document.getElementById('choices-currency')
            const example = new Choices(element, {
                searchEnabled: false
            })
        }
        document.getElementById('service-form').addEventListener('submit', function (e) {
            document.getElementById('id_description').value = document.getElementById('edit-description').children[0].innerHTML

        })

        if (document.getElementById('choices-tags')) {
            const tags = document.getElementById('choices-tags');
            const examples = new Choices(tags, {
                removeItemButton: true
            })

            examples.setChoices(
                [{
                    value: 'One',
                    label: 'Expired',
                    disabled: true
                },
                    {
                        value: 'Two',
                        label: 'Out of Stock',
                        selected: true
                    }
                ],
                'value',
                'label',
                false,
            )
        }
    </script>
    <script>
        const win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            let options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options)
        }
    </script>

{% endblock javascripts %}
